* {
  box-sizing: border-box;
  margin: 0px;
}

.title {
    margin: 80px 0px 40px;
}

.section {
    height: 1000px;
    background-color: #e7e7e7;
}

.navbar-nav a {
    background-color: white;
    text-align: center;
    border-bottom: 1px solid grey;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: white;
}

h1 {
  margin: 40px 0px;
  text-align: center;
}

.menu-section {
  background-color: #f2f2f2;
  position: relative;
  margin: 10px;
  padding: 10px 15px 20px;
  border: 1px solid black;
  height: 1000px;
}

.top {
    position: absolute;
    bottom: 0px;
}